{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block page_content %}

<div class="">
    <h1>Войти</h1>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="">
                {{ form.email.label }}
                {{ form.email(class_="form-control", size=32) }}
            </div>
            <div class="">
                {{ form.password.label }}
                {{ form.password(class_="form-control", size=32) }}
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="remember_me" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    {{ form.remember_me.label }}
                </label>
            </div>
        </div>
        {{form.submit(class_="btn btn-secondary")}}
    </form>
    <p>Забыли пароль?<a href="{{ url_for('auth.password_reset_request') }}">Нажмите, чтобы восстановить</a>.</p>
    <p>
        Новый пользователь?
        <a href="{{ url_for('auth.register') }}">
            нажмите здесь для регистрации
        </a>
    </p>
</div>

{% endblock %}
