{% extends "base.html" %}

{% block title %}Flasky - Подтверждение аккаунта{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Здравствуйте, {{ current_user.username }}!
    </h1>
    <h3>Вы еще не подтвердили свой аккаунт.</h3>
    <p>
        До получения доступа к этому сайту вы должны подтвердить свой аакаунт.
        Проверьте ваш почтовый ящик, на него отправлено письмо с ссылкой подтверждения аккаунта.
    </p>
    <p>
        Требуется отправить письмо с ссылкой еще раз?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите здесь</a>
    </p>
</div>
{% endblock %}