<div class="container mt-5">
    <div class="row">
        <div class="col">
            {% for post in posts %}
            <div class="card mb-3 p-3">
                <div class="d-flex flex-row mb-3"><a href="{{ url_for('.user', username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                </a>
                    <div class="d-flex flex-column ml-2"><span>{{ post.author.username }}</span>
                        <span class="text-black-50">Город: {{ post.author.location }}</span>
                    </div>
                </div>
                {% if post.body_html %}
                <h6>{{ post.body_html | safe }}</h6>
                {% else %}
                <h6>{{ post.body }}</h6>
                {% endif %}
                <div class="d-flex bd-highlight">
                    <span class="p-2 flex-grow-1 bd-highlight">Опубликовано: {{ moment(post.timestamp).fromNow() }}</span>
                    {% if current_user == post.author %}
                    <a class="text-decoration-none p-2 bd-highlight" href="{{ url_for('.edit', id=post.id) }}"><span
                            class="badge bg-dark text-light">Редактировать</span></a>
                    {% elif current_user.is_administrator() %}
                    <a class="text-decoration-none p-2 bd-highlight" href="{{url_for('.edit', id=post.id)}}"><span
                            class="badge bg-danger">Редактировать</span></a>
                    {% endif %}
                    <a class="text-decoration-none p-2 bd-highlight" href="{{url_for('.post', id=post.id)}}"><span
                            class="badge bg-primary text-light">Permalink</span></a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>