{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}


{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
    <h1>Добро пожаловать, {{ current_user.username }}!</h1>
    {% else %}
    <h1>Незнакомец</h1>
    {% endif %}
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form, button_map={'submit':'secondary'}) }}
    {% endif %}
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="d-flex justify-content-center">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}


